@import "tailwindcss" theme(static);
@import "@nuxt/ui";

:root {
    --ui-container: var(--container-7xl);
    --ui-radius: var(--radius-3xl);
}

@theme static {
    --font-sans: "Hanken Grotesk", "sans-serif";
    --radius-3xl: 1.25rem;
    --radius-4xl: 1.5875rem; 
    --color-copreci: oklch(63.545% 0.24999 27.522);
    --color-copreci-50: oklch(90.469% 0.04955 16.568);
    --color-copreci-100: oklch(86.123% 0.07514 16.69);
    --color-copreci-200: oklch(78.203% 0.12758 17.999);
    --color-copreci-300: oklch(71.531% 0.17842 21.101);
    --color-copreci-400: oklch(66.435% 0.22249 24.148);
    --color-copreci-500: oklch(63.545% 0.24999 27.522);
    --color-copreci-600: oklch(57.34% 0.23491 28.727);
    --color-copreci-700: oklch(46.367% 0.18985 28.55);
    --color-copreci-800: oklch(34.693% 0.14192 28.258);
    --color-copreci-900: oklch(21.923% 0.08927 26.698);
    --color-copreci-950: oklch(14.804% 0.06004 25.182);
    --color-copreci-bg-light: #F0F0F0;
    --color-copreci-bg-dark: #DCD7D7;
    --color-gray: oklch(86.378% 0 none);
    --color-gray-50: oklch(100% 0 none);
    --color-gray-100: oklch(100% 0 none);
    --color-gray-200: oklch(100% 0 none);
    --color-gray-300: oklch(98.809% 0 none);
    --color-gray-400: oklch(92.494% 0 none);
    --color-gray-500: oklch(86.378% 0 none);
    --color-gray-600: oklch(77.627% 0 none);
    --color-gray-700: oklch(68.622% 0 none);
    --color-gray-800: oklch(59.31% 0 none);
    --color-gray-900: oklch(49.616% 0 none);
    --color-gray-950: oklch(44.59% 0 none);
}

*, *::before, *::after {
    @apply box-border;
}

body {
    @apply text-black;
}

article {
    @apply min-h-screen;
}


@utility fs-13/16 {
    @apply text-[13px] leading-[16px]
    max-[1367px]:text-[12px] max-[1367px]:leading-[15px];
}
@utility fs-15/18 {
    @apply text-[15px] leading-[18px]
    max-[1367px]:text-[14px] max-[1367px]:leading-[17px]
    max-[1024px]:text-[13px] max-[1024px]:leading-[16px];
}
@utility fs-16/20 {
    @apply text-[16px] leading-[20px]
    max-[1367px]:text-[15px] max-[1367px]:leading-[19px]
    max-[1024px]:text-[14px] max-[1024px]:leading-[18px];
}
@utility fs-18/25 {
    @apply text-[18px] leading-[25px]
    max-[1367px]:text-[17px] max-[1367px]:leading-[24px]
    max-[1024px]:text-[16px] max-[1024px]:leading-[23px];
}
@utility fs-19/26 {
    @apply text-[19px] leading-[26px]
    max-[1367px]:text-[18px] max-[1367px]:leading-[25px]
    max-[1024px]:text-[17px] max-[1024px]:leading-[23px];
}

@utility fs-20/28 {
    @apply text-[20px] leading-[28px]
    max-[1367px]:text-[19px] max-[1367px]:leading-[26px]
    max-[1024px]:text-[18px] max-[1024px]:leading-[24px];
}
@utility fs-22/26 {
    @apply text-[22px] leading-[26px]
    max-[1367px]:text-[20px] max-[1367px]:leading-[28px]
    max-[1024px]:text-[19px] max-[1024px]:leading-[23px];
}
@utility fs-22/32 {
    @apply text-[22px] leading-[32px]
    max-[1367px]:text-[20px] max-[1367px]:leading-[32px]
    max-[1024px]:text-[19px] max-[1024px]:leading-[27px];
}

@utility fs-24/36 {
    @apply text-[24px] leading-[36px]
    max-[1367px]:text-[21px] max-[1367px]:leading-[31px]
    max-[1024px]:text-[20px] max-[1024px]:leading-[28px];
}
@utility fs-25/30 {
    @apply text-[25px] leading-[30px]
    max-[1367px]:text-[22px] max-[1367px]:leading-[27px]
    max-[1024px]:text-[21px] max-[1024px]:leading-[24px];
}
@utility fs-30/32 {
    @apply text-[30px] leading-[32px]
    max-[1367px]:text-[26px] max-[1367px]:leading-[36px]
    max-[1024px]:text-[24px] max-[1024px]:leading-[30px];
}
@utility fs-30/40 {
    @apply text-[30px] leading-[40px]
    max-[1367px]:text-[26px] max-[1367px]:leading-[36px]
    max-[1024px]:text-[24px] max-[1024px]:leading-[34px];
}

@utility fs-40/50 {
    @apply text-[40px] leading-[50px]
    max-[1367px]:text-[36px] max-[1367px]:leading-[46px]
    max-[1024px]:text-[28px] max-[1024px]:leading-[32px];
}

@utility fs-45/60 {
    @apply text-[45px] leading-[60px]
    max-[1367px]:text-[35px] max-[1367px]:leading-[45px]
    max-[1024px]:text-[30px] max-[1024px]:leading-[35px];
}
@utility fs-60/60 {
    @apply text-[60px] leading-[60px]
    max-[1367px]:text-[50px] max-[1367px]:leading-[50px]
    max-[1024px]:text-[40px] max-[1024px]:leading-[40px];
}
@utility fs-70/70 {
    @apply text-[70px] leading-[70px]
    max-[1367px]:text-[60px] max-[1367px]:leading-[60px]
    max-[1024px]:text-[50px] max-[1024px]:leading-[50px];
}
@utility fs-200/60 {
    @apply text-[200px] leading-[60px];
}

@utility copreci-loader {
    @apply bg-gradient-to-r from-copreci-500 to-copreci-600;
}

@utility pl-screen {
    @apply pl-[calc(((100vw-var(--ui-container))/2))]
    max-[1367px]:pl-12!
    max-[769px]:pl-9!
    max-[641px]:pl-6! max-[641px]:pr-6!;
}

@utility pr-screen {
    @apply pr-[calc(((100vw-var(--ui-container))/2))]
    max-[1367px]:pr-12!
    max-[769px]:pr-9!
    max-[641px]:pr-6! max-[641px]:pl-6!;
}

@utility copreci-section {
    @apply py-20 bg-white overflow-hidden
    max-[769px]:py-12;
}

@utility copreci-section--gray {
    @apply bg-copreci-bg-light;
}

@utility copreci-section--red {
    @apply bg-copreci-500;
}

@utility copreci-section--unpadded {
    @apply py-0;
}

@utility copreci-grid {
    @apply grid grid-cols-12 gap-x-12 max-[769px]:gap-x-0 max-[769px]:grid-cols-1 max-[769px]:gap-y-12;

}

@utility copreci-grid--gap-xl {
    @apply gap-x-20 max-[769px]:gap-x-0 max-[769px]:gap-y-20;
}

@utility copreci-grid--gap-sm {
    @apply gap-x-6 max-[769px]:gap-x-0 max-[769px]:gap-y-6;
}

@utility copreci-grid--gap-xs {
    @apply gap-x-4 max-[769px]:gap-x-0 max-[769px]:gap-y-4;
}

@utility copreci-column-padding {
    @apply py-20
    max-[769px]:py-12;
}

@utility copreci-header {
    @apply mb-16 max-[1281px]:mb-12 max-[769px]:mb-9;
}

@utility copreci-text {
    @apply flex flex-col gap-y-10 max-[1281px]:gap-y-8 max-[769px]:gap-y-6;
    h1 {
        @apply fs-60/60 font-light text-(--color-copreci-500);
    }
    h2 {
        @apply fs-60/60 font-light text-(--color-copreci-500);
    }
    h3:not(.copreci-text__button, .copreci-text__link) {
        @apply fs-30/40 font-light text-(--color-copreci-500) whitespace-pre-wrap;
    }
    h4:not(.copreci-text__button, .copreci-text__link) {
        @apply fs-25/30 font-medium text-black;
    }
    p {
        @apply fs-25/30 font-light text-black whitespace-pre-wrap;
        a {
           @apply underline; 
        }
    }
    .copreci-text__button {
        @apply mt-4;
    }
    .columns {
        @apply flex space-x-6 fs-16/20;
        h5 {
            @apply text-copreci-500 font-medium;
        }
        p {
            @apply fs-16/20 font-light text-black;
        }
    }
    .columns--wrap {
        @apply flex flex-wrap -m-4 space-x-0;
        > * {
            @apply w-1/2 p-4;
        }
    }
}

@utility copreci-text--sm {
    h5 {
        @apply fs-18/25 font-medium text-copreci-500;
    }
    h4:not(.copreci-text__button, .copreci-text__link) {
        @apply fs-25/30 font-light text-black;
    }
    h6 {
        @apply fs-18/25 font-medium text-copreci-500;
    }
    p {
        @apply fs-18/25 font-light text-black whitespace-pre-wrap;
    }
}

@utility copreci-text-h3-as-h2 {
    h3 {
        @apply !fs-60/60 !font-light !text-(--color-copreci-500);
    }
}

@utility copreci-text-h3-as-h4 {
    h3 {
        @apply !fs-25/30 !font-light !text-black;
    }
}

@utility copreci-text--white {
    > h2, p, ul {
        @apply text-white;
    }
}

@utility copreci-text--actuality {
    @apply gap-y-4;
    ul {
        @apply list-disc pl-4;
    }
}

@utility copreci-page-header {
    @apply flex flex-col gap-y-6;
    h2 {
        @apply fs-60/60 font-light text-(--color-copreci-500) whitespace-pre-wrap;
    }
    h1 {
        @apply fs-20/28 font-normal text-black whitespace-pre-wrap;
    }
}

@utility copreci_card {
    @apply border border-copreci-bg-dark rounded-[15px] p-3.5;
    .copreci_card__header {
        @apply flex justify-end;
    }
    .copreci_card__image {
        @apply block w-full h-[225px] mb-6 overflow-hidden max-[641px]:mb-4;
        img {
            @apply w-full h-full object-cover;
        }
    }
    .copreci_card__content {
        @apply h-[270px] relative flex flex-col gap-y-3 overflow-hidden max-[641px]:h-auto;
        h3 {
            @apply fs-13/16 font-medium hover:text-copreci-500;
        }
        .copreci_card__content-date {
            @apply !text-xs !font-normal !text-black/40 mb-4 last:mb-0;
        }
        .copreci_card__content-rich {
            @apply max-[641px]:hidden;
            > * {
                @apply fs-13/16 font-light text-black mb-4 last:mb-0;
            }
            ul {
                @apply list-disc pl-4;
            }
            
        }
        .copreci-ellipsis {
            @apply w-full absolute bottom-0 left-0 bg-copreci-bg-light fs-13/16 font-light text-black mb-4 last:mb-0 max-[641px]:hidden;

        }
        .copreci-ellipsis--white {
            @apply bg-white;
        }
    }
    .copreci_card__content--sm {
        @apply h-[155px];
    }
}

@utility copreci_card--row {
    @apply flex flex-row gap-x-6 max-[641px]:flex-col max-[641px]:gap-y-3 max-[641px]:gap-x-0;
    .copreci_card__image {
        @apply w-7/12 mb-0 max-[641px]:w-full;
    }
    .copreci_card__content {
        @apply w-5/12 h-[225px] overflow-hidden max-[641px]:w-full max-[641px]:h-auto;
    }
}

@utility copreci-download {
    h4 {
        @apply mb-6 pb-2 fs-22/26 border-b border-copreci-500 text-copreci-500;
    }
    ul {
        @apply flex flex-col gap-y-4;
    }
}

@utility copreci-download__col {
    @apply flex flex-col space-y-20;
}


@utility copreci-download__link {
    @apply flex items-center gap-x-2 hover:text-copreci-500;
}

@utility copreci-download__block-toggled {
    @apply mt-8 first:mt-0;
}

@utility copreci-download__toggle {
    @apply fs-22/26 flex items-center text-copreci-500 gap-x-2 hover:text-copreci-500 cursor-pointer;
}

